<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="Imagenfondo">
        <div class="caja-formulario2">
            <div class="button-box">
                <div id="btn2"></div>
                <button type="button" class="toggleBtn" onclick="Iniciarsesion()">Cambiar tu contraseña</button>              
            </div>
            <form id="Ingresar" class="input-group2">
                <input type="text" class="input-field" placeholder="Ingresa tu nueva contraseña" required>
                <input type="text" class="input-field" placeholder="Confirma tu nueva contraseña" required>
                <button type="submit" class="submit-btn">Enviar</button>
            </form>
        </div>
    </div>     
</body>
</html>