<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Send messages  </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="Imagenfondo">
        <div class="caja-formulario">
            <div class="button-box">
                <button type="button" class="toggleBtn" onclick="Iniciarsesion()">Usuario</button>
                <div></div>
                <button type="button" class="toggleBtn" onclick="Registrarse()">Cerrar Sesion</button>             
            </div>

            <div>
                <div class="button-box">
                    <div id="btn3"></div>
                    <button type="button" class="toggleBtn" onclick="Iniciarsesion()">Nuevo mensaje</button>          
                </div>  
                <form class="MessageBox">
                    <input type="text" class="input-field" placeholder="Destinario">
                    <input type="text" class="input-field" placeholder="Asunto">
                    <textarea type="text" class="input-field2" placeholder="Nuevo mensaje"></textarea>
                    <button type="submit" class="submit-btn">Enviar</button>
                </form>
            </div>         
            </div>  
        </div>
    </div>
</body>
</html>